.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}
.logo {
  height: 40px;
}
.App-header {
  background-color: #f4f4f4;
  z-index: 999;
  height: 90px;
  width: 100%; /* Full width */
  padding: 30px;
  font-size: 72px;
  color: grey;
  text-align: left;
  font-family: Georgia;
  font-stretch: extra-expanded;
  position: fixed;
}

.Bar {
  background-color: #f4f4f4;
  z-index: 998;
  width: 100%; /* Full width */
  height: 150px;
  position: relative;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video {
  width: 100%;
  position: absolute;
  left: 0;
}

.viewport-header {
  position: relative;
  height: 100%;
  display: flex;
  background-color: rgba(95, 158, 160, 0.685);
  justify-content: left;
  top: 7vw;

}

.text-header{
  font-size: 48px;
  height: 100%;
  width: 50%;
  color: #f4f4f4;
  text-align: left;
  font-family: Georgia;
  font-stretch: extra-expanded;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;

}
.text-header2{
  font-size: 54px;
  width: 23vw;
  color: #dddddd;
  text-align: left;
  font-family: Georgia;
  font-stretch: extra-expanded;
  padding: 5%;
  background-color: rgba(62, 119, 121, 0.664);
  padding-right: 50px;

}

.video2 {
  width: 100vw;
  position: absolute;
  left: 0;
}

.viewport-header2 {
  position: relative;
  width: 100vw;
  height: 56vw;
  display: flex;
  background-color: rgba(185, 185, 185, 0.486);
  justify-content: left;
  padding-bottom: 10%;
}

.text-header3{
  font-size: 54px;
  width: 30%;
  height: 70%;
  color: #dddddd;
  text-align: left;
  font-family: Georgia;
  font-stretch: extra-expanded;
  padding: 5%;
  padding-left: 40px;
  background-color: rgba(62, 119, 121, 0.555);
}

.text-header4{
  font-size: 32px;
  height: 100%;
  width: 70%;
  color: #dddddd;
  text-align: left;
  font-family: Georgia;
  font-stretch: extra-expanded;
  padding: 5%;
}

.primer{
  position: relative;
}
.segundo{
  position: relative;
}
.prueba{
  text-align: right;
  padding-left:10vw;
  float: right;
  font-size: 26px;
  padding: 1vw;
}